<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!-- Style Files -->
    <%-include('../partials/head.html') %>

</head>

<body>
    <!-- Navbar -->
    <%-include('../partials/navigation.html') %>
    <br>
    <div class="container">
        <div class="card border-primary mb-12">
            <div class="card-header">
                <h3 class="text-center">Employees List</h3>
                <a href="/employee/create" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Add Employee"><i class="fas fa-plus text-dark"></i></i></a>
            </div>
            <div class="card-body">
                <table class="table table-striped row" id="showRegister">
                    <thead>
                      <tr>
                        <th class="col-" scope="col">ID</th>
                        <th class="col-3" scope="col">Full Name</th>
                        <th class="col-2" scope="col">Birth Date</th>
                        <th class="col-2" scope="col">Telephone</th>
                        <th class="col-2" scope="col">E-mail</th>
                        <th class="col-" scope="col">Salary</th>
                        <th class="col-2" scope="col">Marital Status</th>
                        <th scope="col"><i class="far fa-edit col-"></i></th>
                        <th scope="col"><i class="fas fa-ban col-"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for (let j = 0; j < data.recordset.length; j++) {%>
                            <tr>
                                <td class="col-">
                                    <%= data.recordset[j].id_employee %>
                                </td>
                                <td class="col-3">
                                    <%= data.recordset[j].full_name %>
                                </td>
                                <td class="col-2">
                                    <%= data.recordset[j].date_birth.toDateString() %>
                                </td>
                                <td class="col-2">
                                    <%= data.recordset[j].telephone %>
                                </td>
                                <td class="col-2">
                                    <%= data.recordset[j].email %>
                                </td>
                                <td class="col-">
                                    <%= data.recordset[j].salary %>
                                </td>
                                <td class="col-2">
                                    <%= data.recordset[j].marital_status %>
                                </td>
                                <td class="col-">
                                    <a  class="btn" data-toggle="tooltip" 
                                        onclick="UpdateConfirm('<%= data.recordset[j].id_employee %>')"
                                        data-placement="top" title="Edit">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                </td>
                                <td class="col-">
                                    <a  class="btn" data-toggle="tooltip"
                                        onclick="DeleteConfirm('<%= data.recordset[j].id_employee %>')"
                                        data-placement="top" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                                
                        <% } %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <%-include('../partials/footer.html') %>

    <!-- Sweet Alerts 2-->
    <%-include('../partials/sweetAlerts2.html') %>

    <!-- Datatables.net -->
    <%-include('../partials/datatables.html') %>
    
</body>

</html>