<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-sm">
        <a class="navbar-brand text-info disabled" style="font-size: 34px;">
            <%= title %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills ms-auto" style="font-size: 20px;">
                <li class="nav-item">
                    <a class="nav-link" style="color: darkorange;" aria-current="page" href="/"><i
                            class="fas fa-home"></i> Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: chartreuse;" aria-current="page" href="/employee/show"><i
                            class="far fa-address-card"></i> Employee</a>
                </li>
            </ul>
        </div>
    </div>
</nav>