<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-sm">
        <a class="navbar-brand text-info disabled" style="font-size: 34px;">
            <%= title %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-pills ms-auto" style="font-size: 20px;">
                <!-- Home/Index -->
                <li class="nav-item">
                    <a class="nav-link" style="color: darkorange;" aria-current="page" href="/"><i
                            class="fas fa-home"></i> Home</a>
                </li>

                <!-- Employee -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="EmployeeMenu" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: chartreuse;">
                        <i class="far fa-address-card"></i> Employee</a>
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="EmployeeMenu">
                        <li><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add"
                            class="dropdown-item text-white" href="/employee/create"><i class="fas fa-user-plus"></i> Employee</a></li>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show"
                            class="dropdown-item text-white" href="/employee/show"><i class="far fa-eye"></i> Employee</a></li>
                    </ul>
                </li>

                <!--- Login -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="AccountMenu" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: chartreuse;"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Account">
                        <i class="fas fa-user-circle"></i></a>
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="AccountMenu">
                        <li><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login"
                            class="dropdown-item text-info" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout"
                            class="dropdown-item text-danger" href="/logout"><i class="fas fa-times"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>